*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #191919;
}

.container{
    width: 300px;
    height: 400px;
    position: relative;
    background: #191919;
    border-radius: 10px;
    transition: .5s all;
    padding: 20px;

}

.container::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(45deg,rgb(225,0,234),rgb(119,0,255), rgb(0,119,255) );
    border-radius: 10px;
}

.container:hover::after{
    animation: anima 1s infinite ease-in-out;
    box-shadow: 0 0 10px #444444, 0 0 30px #646464, 0 0 60px #444444;

}

@keyframes anima{
    0%{
        background: linear-gradient(0deg,rgb(225,0,234),rgb(119,0,255), rgb(0,119,255) );
    }
    15%{
        background: linear-gradient(45deg,rgb(225,0,234),rgb(119,0,255), rgb(0,119,255) );
    }

    25%{
        background: linear-gradient(90deg,rgb(225,0,234),rgb(119,0,255), rgb(0,119,255) );
    }

    35%{
        background: linear-gradient(135deg,rgb(225,0,234),rgb(119,0,255), rgb(0,119,255) );
    }

    45%{
        background: linear-gradient(180deg,rgb(225,0,234),rgb(119,0,255), rgb(0,119,255) );
    }

    55%{
        background: linear-gradient(225deg,rgb(225,0,234),rgb(119,0,255), rgb(0,119,255) );
    }

    65%{
        
        background: linear-gradient(270deg,rgb(225,0,234),rgb(119,0,255), rgb(0,119,255) );
        
    
    }

    75%{
        background: linear-gradient(315deg,rgb(225,0,234),rgb(119,0,255), rgb(0,119,255) );
    }

    100%{
        background: linear-gradient(360deg,rgb(225,0,234),rgb(119,0,255), rgb(0,119,255) );
    }



}

.container h2{
    color: #f0f8ff;
    margin-bottom: 3rem;
}

.bxBox{
    position: relative;
    height: 30px;
    width: 100%;
    margin-bottom: 40px;

}

.bxBox input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #303030;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 27px;
    outline: none;
    padding: 0 10px;
    color: #fff;
}

.bxBox input:focus ~span{
     
    transform: translate(-10px, -30px);
    font-size: 1rem;
    color: #fff;

}

.bxBox span{
    color: #585858;
    position: absolute;
    left: 10px;
    bottom: 2px;
    transition: 1s;

}

 .barra{
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(45deg,rgb(225,0,234),rgb(119,0,255), rgb(0,119,255) );
    z-index: 0;
    transition: 1s;
} 
.bxBox input:focus ~.barra{
    width: 100%;

}   